:root {
  --fundo: #09090f;
  --preto: #09090f;
  --branco: #fdfdfd;
  --rosa: #ff1577;
  --roxo: #6c63ff;
  --azul-marinho: #171c3a;
  --cinza: #c6c6c6;
  --cinza-medio: #898fa4;
  --cinza-claro: #eeeff3;
}
